@model List<User>;


<h1>Index</h1>

    
<a asp-controller="User" asp-action="Create">
    <button class="btn btn-primary">
        Create
    </button>
</a>
<a asp-controller="User" asp-action="Update">
    <button class="btn btn-primary">
        Update
    </button>
</a>
<a asp-controller="User" asp-action="Delete">
    <button class="btn btn-primary">
        Delete
    </button>
</a>

@foreach (User user in @Model)
{
    <p>@user.ID</p>
    <p>@user.Email</p>
    <a asp-controller="User" asp-action="Read" asp-route-id="@user.ID">
        <button class="btn btn-primary">
            Read
        </button>
    </a>
}


