
<h1>Index</h1>

    <a asp-controller ="User" asp-action="Read">
        <button class="btn btn-primary">
            Read
        </button>
    </a>
<a asp-controller="User" asp-action="Create">
    <button class="btn btn-primary">
        Create
    </button>
</a>
<a asp-controller="User" asp-action="Update">
    <button class="btn btn-primary">
        Update
    </button>
</a>
<a asp-controller="User" asp-action="Delete">
    <button class="btn btn-primary">
        Delete
    </button>
</a>


